body{
    background-color:#4cd137;
    width: 100%;
}
.div{
    margin: 0 auto;
    width:  50%;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 60px;
    margin-bottom: 15px;
    background-color:#44bd32;
}